<app-header-game></app-header-game>
<div class="container-indice1">
    <div class="state1">
        <img src="../../assets/target.png"  alt="target">
        <p>Mettre en lumière le geste à ne pas faire !</p>
    </div>
    <div class="state1-game1-tools">
        <div class="tools">
            <img src="../../assets/loupe.png" alt="loupe">
            <img src="../../assets/main.png" alt="main">
        </div>
        <div class="state1-picture1">
            <img src="../../assets/game/indice1.png" alt="indice1">
        </div>
    </div>
    <div class="ampoule">
        <img src="../../assets/ampoule.png" alt="ampoule">
        <p>Utiliser des outils</p>
    </div>
</div>