.state1, .ampoule, .state1-game1-tools{
    display: flex;
    align-items: center;
}
.state1, .state1-game1-tools{
    justify-content: center;
}
.ampoule{
    font-weight: 800;
    font-size: 29px; 
}
.tools{
    display: flex;
    flex-direction: column;

}
.state1{
    font-size: 29px; 
    align-items: center;
}
.state1, .ampoule{
    margin: 2%;
}
img{
    margin: 1rem;
}