<app-header-game></app-header-game>
<div class="container-start-game">
  <div class="title">
    <!-- <img src="../../assets/game/couronne.png"> -->
    <i
      class="fas fa-crown"
      style="font-size: 48px; color: gold; display: inline"
      position="left"
      margin-right="3000px"
    ></i>
    <p>début du jeu</p>
  </div>

  <div class="lore">
    <p>
      Vous êtes dans l’entreprise <strong>PineApple</strong>, qui est basée sur
      le développement de sites web. Une collègue du nom de
      <strong class="victime-name">Géraldine</strong> ne vient plus depuis 2
      semaines. <br />
    </p>
    <p>
      En l’ayant appelé, vous avez découvert qu’elle a plusieurs symptômes de
      dépression. Elle vous a donné plusieurs indices, vous a envoyé une capture
      d’écran de son téléphone qui fait la mention d’un “relou”, et vous a
      autorisé à accéder à son pc qui est situé dans l’entreprise. <br />
    </p>
    <p class="lore3">
      Votre objectif est de résoudre cette énigme seul ou en groupe de 3
      maximum. A vous d’enquêter.
    </p>
  </div>
  <div class="container-button">
    <li>
      <a
        routerLink="/Mission1MJ"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        style="color: aliceblue"
      >
        <button
          class="btn mt-3 ml-auto"
          style="
            color: white;
            background-color: #5c5792;
            filter: drop-shadow(2px 4px 6px black);
          "
        >
          Commencer
        </button></a
      >
    </li>
  </div>
</div>
