
.container-start-game{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: 'Montserrat', sans-serif;
}
.title{
    margin: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-transform: uppercase;   
    font-size: 45px;
}

.lore{
    width: 80%;
    text-align: justify;
    font-size: 30px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 31px;
    background: #BE9CC7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 532px;
    height: 99px; 
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.lore3{
    color: #2C2A2A;
    font-size: 32px;
    font-weight: 600;
}
.victime-name{
    color: #5C5792;
    font-size: 32px;
    font-weight: 700;

}