.desktop {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desktop .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 1440px;
  height: 4034px;
  position: relative;
}

.desktop .overlap {
  position: absolute;
  width: 1350px;
  height: 493px;
  top: 2538px;
  left: 71px;
}

.desktop .overlap-group {
  position: absolute;
  width: 428px;
  height: 369px;
  top: 124px;
  left: 922px;
}

.desktop .figma {
  position: absolute;
  width: 354px;
  height: 369px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.desktop .image {
  width: 237px;
  height: 79px;
  top: 4px;
  left: 191px;
  position: absolute;
  object-fit: cover;
}

.desktop .overlap-2 {
  position: absolute;
  width: 1251px;
  height: 493px;
  top: 0;
  left: 0;
}

.desktop .img {
  position: absolute;
  width: 354px;
  height: 369px;
  top: 124px;
  left: 460px;
  object-fit: cover;
}

.desktop .figma-2 {
  position: absolute;
  width: 354px;
  height: 369px;
  top: 124px;
  left: 16px;
  object-fit: cover;
}

.desktop .ils-ont-aim-l-exp {
  position: absolute;
  width: 1251px;
  top: 0;
  left: 0;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 400;
  color: #211440;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper {
  font-weight: 700;
}

.desktop .span {
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
}

.desktop .image-2 {
  width: 230px;
  height: 193px;
  top: 81px;
  left: 210px;
  position: absolute;
  object-fit: cover;
}

.desktop .image-3 {
  width: 230px;
  height: 193px;
  top: 71px;
  left: 646px;
  position: absolute;
  object-fit: cover;
}

.desktop .overlap-3 {
  position: absolute;
  width: 1618px;
  height: 614px;
  top: 1731px;
  left: 71px;
}

.desktop .overlap-4 {
  position: absolute;
  width: 690px;
  height: 322px;
  top: 211px;
  left: 611px;
  background-color: #211440;
  border-radius: 66px;
}

.desktop .overlap-5 {
  position: absolute;
  width: 613px;
  height: 180px;
  top: 84px;
  left: 77px;
}

.desktop .text-wrapper-2 {
  position: absolute;
  width: 212px;
  top: 0;
  left: 320px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .overlap-6 {
  position: absolute;
  width: 613px;
  height: 138px;
  top: 42px;
  left: 0;
}

.desktop .p {
  position: absolute;
  width: 313px;
  top: 0;
  left: 0;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  width: 387px;
  top: 57px;
  left: 226px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  position: absolute;
  width: 309px;
  top: 71px;
  left: 0;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-5 {
  position: absolute;
  width: 298px;
  top: 74px;
  left: 77px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-7 {
  position: absolute;
  width: 1618px;
  height: 614px;
  top: 0;
  left: 0;
}

.desktop .image-4 {
  width: 45px;
  height: 61px;
  top: 277px;
  left: 503px;
  position: absolute;
  object-fit: cover;
}

.desktop .text-wrapper-6 {
  position: absolute;
  width: 1324px;
  top: 65px;
  left: 294px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #9f8dc3;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-7 {
  position: absolute;
  width: 1324px;
  top: 121px;
  left: 294px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #1b1b1b;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle {
  width: 572px;
  height: 614px;
  top: 0;
  background-color: #d9d9d9;
  position: absolute;
  left: 0;
}

.desktop .figma-3 {
  position: absolute;
  width: 572px;
  height: 614px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.desktop .line {
  position: absolute;
  width: 391px;
  height: 5px;
  top: 160px;
  left: 761px;
}

.desktop .overlap-group-2 {
  position: absolute;
  width: 1695px;
  height: 1019px;
  top: 0;
  left: 0;
}

.desktop .rectangle-2 {
  width: 1440px;
  height: 1019px;
  top: 0;
  background-color: #d9d9d980;
  position: absolute;
  left: 0;
}

.desktop .figma-maquette {
  position: absolute;
  width: 1440px;
  height: 1019px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.desktop .text-wrapper-8 {
  position: absolute;
  width: 541px;
  top: 84px;
  left: 501px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-9 {
  position: absolute;
  width: 234px;
  top: 84px;
  left: 861px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-10 {
  position: absolute;
  width: 541px;
  top: 86px;
  left: 1154px;
  font-family: "Montserrat-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .exp-riences-uniques {
  position: absolute;
  width: 1245px;
  top: 670px;
  left: 123px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .image-5 {
  width: 11px;
  height: 11px;
  top: 211px;
  left: 354px;
  position: absolute;
  object-fit: cover;
}

.desktop .element {
  position: absolute;
  width: 205px;
  height: 227px;
  top: 3px;
  left: 37px;
  object-fit: cover;
}

.desktop .overlap-8 {
  position: absolute;
  width: 1493px;
  height: 614px;
  top: 1056px;
  left: -26px;
}

.desktop .overlap-9 {
  position: absolute;
  width: 1493px;
  height: 614px;
  top: 0;
  left: 0;
}

.desktop .rectangle-3 {
  width: 1493px;
  height: 430px;
  top: 184px;
  background-color: #5c5792;
  position: absolute;
  left: 0;
}

.desktop .text-wrapper-11 {
  position: absolute;
  width: 278px;
  top: 439px;
  left: 122px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .red-finir-l-exp {
  position: absolute;
  width: 973px;
  top: 0;
  left: 260px;
  font-family: "Sora-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-12 {
  color: #000000;
}

.desktop .text-wrapper-13 {
  font-family: "Sora-Bold", Helvetica;
  font-weight: 700;
  color: #5c5792;
}

.desktop .text-wrapper-14 {
  position: absolute;
  width: 261px;
  top: 333px;
  left: 131px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-15 {
  position: absolute;
  width: 260px;
  top: 439px;
  left: 594px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-16 {
  position: absolute;
  width: 325px;
  top: 333px;
  left: 562px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop .text-wrapper-17 {
  position: absolute;
  width: 466px;
  top: 350px;
  left: 964px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 50px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .image-6 {
  width: 111px;
  height: 122px;
  top: 1px;
  left: 1259px;
  position: absolute;
  object-fit: cover;
}

.desktop .overlap-10 {
  position: absolute;
  width: 1493px;
  height: 735px;
  top: 3328px;
  left: -26px;
  background-color: #211440;
}

.desktop .confidentialit {
  position: absolute;
  width: 344px;
  top: 166px;
  left: 169px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-18 {
  position: absolute;
  width: 344px;
  top: 478px;
  left: 169px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-19 {
  position: absolute;
  width: 344px;
  top: 544px;
  left: 169px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-20 {
  position: absolute;
  width: 344px;
  top: 611px;
  left: 169px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-11 {
  position: absolute;
  width: 567px;
  height: 308px;
  top: 186px;
  left: 866px;
}

.desktop .text-wrapper-21 {
  position: absolute;
  width: 316px;
  top: 191px;
  left: 125px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .element-2 {
  position: absolute;
  width: 567px;
  height: 308px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.desktop .text-wrapper-22 {
  position: absolute;
  width: 562px;
  top: 60px;
  left: 26px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .PRO-SCAPE-a-r {
  position: absolute;
  width: 393px;
  top: 3043px;
  left: 55px;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-23 {
  font-weight: 800;
  color: #9f8dc3;
}

.desktop .text-wrapper-24 {
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
}

.desktop .text-wrapper-25 {
  position: absolute;
  width: 146px;
  top: 3278px;
  left: 170px;
  font-family: "Montserrat-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .overlap-12 {
  position: absolute;
  width: 394px;
  height: 225px;
  top: 3053px;
  left: 511px;
}

.desktop .text-wrapper-26 {
  position: absolute;
  width: 146px;
  top: 187px;
  left: 124px;
  font-family: "Montserrat-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .PRO-SCAPE-a-fait-des {
  position: absolute;
  width: 394px;
  top: 0;
  left: 0;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-27 {
  position: absolute;
  width: 146px;
  top: 3158px;
  left: 1097px;
  font-family: "Montserrat-Italic", Helvetica;
  font-weight: 400;
  font-style: italic;
  color: #000000;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .si-vous-cherchez {
  position: absolute;
  width: 365px;
  top: 3043px;
  left: 982px;
  font-family: "Montserrat-SemiBold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-28 {
  font-weight: 600;
  color: #000000;
}

.desktop .text-wrapper-29 {
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-weight: 800;
  color: #9f8dc3;
}
