
.container-header-game{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #211440; 
    width: 100%;
    height: 191px; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px; 
}
.team{
    text-align: center;
    margin-left: 2rem;
}
.mission{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.chrono-score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}
/* .chrono{
    border: solid 2px;
    border-radius: 15%;
    padding: 5px;
} */
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
