<div class="container-header-game">

    <div class="team">
        <img src="../../assets/user-alt-solid.png" alt="team">
        <p>Équipe 5</p>
    </div>

    <div class="mission">
        <img src="../../assets/arrow-circle-left-solid.png" alt="arrow">
        <p>Mission 1</p>
        <img src="../../assets/arrow-circle-right-solid.png" alt="arrow">
    </div>

    <div class="chrono-score">
        <div class="chrono">
            <p>15:00</p>
        </div>
        <div class="score">
            <p>score 0/60</p>
            <img src="../../assets/award-solid.png" alt="award">
        </div>
    </div>

</div>
