<app-header-game></app-header-game>
<div class="d-flex justify-content-center" style="height: 650px">
  <div
    class="border w-75 m-5 p-3"
    style="box-shadow: 2px 4px 6px black; border-radius: 50px"
  >
    <div class="text-center" style="padding-top: 70px">
      <i
        class="fas fa-crown"
        style="font-size: 48px; color: gold; display: inline"
        position="left"
        margin-right="3000px"
      ></i>
      <p style="font-size: 48px; display: inline">MAITRE DU JEU</p>
    </div>
    <div class="d-flex justify-content-center align-items-center p-5">
      <i
        class="fa-solid fa-crosshairs fa-2x me-2"
        style="color: red; display: inline"
      ></i>
      <p class="m-0" style="font-size: 28px; display: inline">
        Trouver le mot de passe pour s’authentifier dans la session de Géraldine
      </p>
    </div>
    <div>
      <form
        class="mb-3 d-flex flex-column align-items-center justify-content-between"
      >
        <label
          class="d-flex justify-content-center"
          for="question1"
          class="form-label"
          style="font-weight: bold; font-size: 24px"
          >Déchiffrer le mot de passe</label
        >
        <input
          type="text"
          class="form-control w-50 text-center rounded-pill"
          id="question1"
          placeholder="! . ; ? C ! . ; ?"
        />
        <li>
          <a
            routerLink="/M1Indice1"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            style="color: aliceblue"
          >
            <button
              type="submit"
              class="btn mt-3 ml-auto"
              style="
                color: white;
                background-color: #5c5792;
                filter: drop-shadow(2px 4px 6px black);
              "
            >
              Valider la réponse
            </button>
          </a>
        </li>
      </form>
    </div>
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <img src="assets/idee-ampoule 1.png" alt="idee" style="height: 50px" />
        <p class="m-0">Munissez vous des <strong>indices.</strong></p>
      </div>
      <img
        src="assets/12.png"
        alt="mission1-mj"
        style="width: 10%"
        class="mission1-mj"
      />
    </div>
  </div>
</div>
