<section
  class="d-flex flex-column align-items-center m-5"
  style="color: #5c5792"
>
  <h1>Connexion des joueurs</h1>
  <form method="get" class="d-flex flex-column align-items-center w-25">
    <div
      class="d-flex flex-column align-items-center p-3 w-100"
      style="
        background-color: #f1f1f1;
        border: 1px solid #bfbfbf;
        border-radius: 88px;
        filter: drop-shadow(2px 4px 6px black);
      "
    >
      <div class="mb-3">
        <label for="Player1" class="form-label" style="color: #5c5792"
          >Sélection de joueur</label
        >
        <select
          class="form-select"
          aria-label="Default select example"
          style="border-radius: 20px 20px 0 0"
        >
          <option selected>Choix des joueurs</option>
          <option>Player1</option>
          <option>Player2</option>
        </select>
      </div>
    </div>
    <li>
      <a
        routerLink="/LoreGame"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        style="color: aliceblue"
      >
        <button
          type="submit"
          class="btn rounded-pill m-5 hoverLeo"
          style="
            width: 250px;
            height: 50px;
            font-size: large;
            background-color: #5c5792;
            color: white;
            filter: drop-shadow(2px 4px 6px black);
          "
        >
          JOUER
        </button></a
      >
    </li>
  </form>
</section>
