<app-header-game></app-header-game>
<div class="container-indice2">
    <div class="state2">
        <img src="../../assets/target.png"  alt="target">
        <p>Mettre en lumière le geste à ne pas faire !</p>
    </div>
    <div class="state2-game1-tools">
        <div class="tools">
            <img src="../../assets/loupe.png" classe="loupe" alt="loupe">
            <img src="../../assets/main.png" classe="main" alt="main">
        </div>
        <div class="state2-picture1">
            <img src="../../assets/indice2.png" alt="indice2">
        </div>
    </div>
    <div class="ampoule">
        <img src="../../assets/ampoule.png" alt="ampoule">
        <p>Utiliser des outils</p>
    </div>

    <div class="answer">
        <p class="answer1">!=S</p>
        <p class="answer2">.=T</p>
    </div>

    

    <!-- <div (mousedown)="onImageClick($event)" [style.left.px]="left" [style.top.px]="top" class="draggable-image">
        <img src="../../assets/loupe.png" alt="Image à déplacer" />
    </div> -->
  
  
</div>
