.state2, .ampoule, .state2-game1-tools{
    display: flex;
    align-items: center;
}
.state2, .state2-game1-tools{
    justify-content: center;
}
.ampoule{
    font-weight: 800;
    font-size: 29px; 
}
.tools{
    display: flex;
    flex-direction: column;

}
.state2{
    font-size: 29px; 
    align-items: center;
}
.state2, .ampoule{
    margin: 2%;
}
img{
    margin: 1rem;
}

.answer{
    margin-top: -80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;
    color: red;
    font-size: 40px; 
    font-weight: 800;
    letter-spacing: 30px
}

/* .draggable-image {
    position: absolute;
    cursor: grab;
  } */
  