<section
  class="d-flex flex-column align-items-center m-5"
  style="color: #5c5792"
>
  <h1>Création d'équipe et de joueurs</h1>
  <form class="d-flex flex-column align-items-center w-25">
    <div
      class="d-flex flex-column align-items-center p-3 w-100"
      style="
        background-color: #f1f1f1;
        border: 1px solid #bfbfbf;
        border-radius: 88px;
        filter: drop-shadow(2px 4px 6px black);
      "
    >
      <div class="mb-3">
        <label for="EquipName" class="form-label" style="color: #5c5792"
          >Nom de l'équipe</label
        >
        <input
          type="text"
          class="form-control rounded-pill"
          id="EquipName"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="GameMaster" class="form-label" style="color: #5c5792"
          >Maître du Jeu</label
        >
        <input type="text" class="form-control rounded-pill" id="GameMaster" />
      </div>
      <div class="mb-3">
        <label for="Player1" class="form-label" style="color: #5c5792"
          >Joueur 1</label
        >
        <input type="text" class="form-control rounded-pill" id="Player1" />
      </div>
      <div class="mb-3">
        <label for="Player2" class="form-label" style="color: #5c5792"
          >Joueur 2</label
        >
        <input type="text" class="form-control rounded-pill" id="Player2" />
      </div>
      <div class="d-flex flex-column align-items-center mb-3">
        <p>Avatar de votre équipe</p>
        <div class="d-flex align-items-center form-check">
          <div class="d-flex flex-column align-items-center">
            <input
              class="form-check-input"
              type="radio"
              name="Avatar"
              id="Avatar1"
            />
            <img
              src="../../assets/3.png"
              alt=""
              style="width: 100%; filter: drop-shadow(12px 7px 8px black)"
            />
          </div>
          <div class="d-flex flex-column align-items-center">
            <input
              class="form-check-input"
              type="radio"
              name="Avatar"
              id="Avatar2"
            />
            <img
              src="../../assets/6.png"
              alt=""
              style="width: 100%; filter: drop-shadow(12px 7px 8px black)"
            />
          </div>
          <div class="d-flex flex-column align-items-center">
            <input
              class="form-check-input"
              type="radio"
              name="Avatar"
              id="Avatar3"
            />
            <img
              src="../../assets/7.png"
              alt=""
              style="width: 100%; filter: drop-shadow(12px 7px 8px black)"
            />
          </div>
        </div>
      </div>
    </div>
    <li>
      <a
        routerLink="/PlayerConnection"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        style="color: aliceblue"
      >
        <button
          type="submit"
          class="btn rounded-pill m-5 hoverLeo"
          style="
            width: 250px;
            height: 50px;
            font-size: large;
            background-color: #5c5792;
            color: white;
            filter: drop-shadow(2px 4px 6px black);
          "
        >
          JOUER
        </button>
      </a>
    </li>
  </form>
</section>
